h2 {
    color: orangered;
}

body {
    background-color: #2F4F4F;
    color: white;
    font-family: Roboto;
    text-align: center;
}

header {
    border-bottom: 1px solid #172DF1;
}

footer {
    border-top: 1px solid #172DF1;
}